<!-- ========== Left Sidebar Start ========== -->
<div class="left side-menu">
  <div class="sidebar-inner slimscrollleft">
      <div id="sidebar-menu">
          <ul>
              {#<li class="menu-title">Main</li>#}

              <li>
                  <a href="{{ url_for('deals.index') }}" class="waves-effect waves-primary"><i
                          class="ti-home"></i><span> My Deals </span></a>
              </li>

              
              {% if current_user.is_admin() %}
                <li>
                    <a href="{{ url_for('admin.index') }}" class="waves-effect waves-primary"><i
                            class="ti-infinite"></i><span> Admin </span></a>
                </li>
              {% endif %}
          </ul>

          <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
  </div>
</div>
<!-- Left Sidebar End -->
